@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

:root{
    --color-main: #001538;
    --color-text: #fff; 
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*{
    background: var(--color-main);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1{
    color: white;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

.imgLogo{
    height: auto;
    width: 15%;

}

.pageTop{
    display: flex;
}
.artistContainer{
    display: flex;
    justify-content: center;

}
.artist{
    width: 100%;
}
.artistName{
    color: var(--color-text);
}

.artistDesc{
    color: var(--color-text);
}