@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

:root{
    --color-main: #001538;
    --color-text: #fff; 
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*{
    background: var(--color-main);
    font-family: 'Poppins', sans-serif;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(5px) contrast(10);
    mix-blend-mode: screen;
}
.visualizer{
    position: relative;
    width:300px;
    height: 300px;
    border-radius:50%;
    background: #fff;
    transition: 0.5s;
    transform: rotateZ(180deg);
}

.play{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:250px;
    height: 250px;
    background-color: var(--color-main);
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-play{
    border-left: 80px solid #5f5 ;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    cursor: pointer;
}

.btn-pause{
    border-right: 20px solid #5f5;
    border-left: 20px solid #5f5;
    height: 100px;
    width: 75px;
    cursor:pointer;
}

.element{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border-top: 40px solid #fff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    transform-origin: top left;
    transition: .25s;
}