@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

:root{
    --color-main: #001538;
    --color-text: #fff;
    --color-secondaryText : #c1c1c1;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: var(--color-text);
}
h3{
    color: var(--color-secondaryText);
}


*{
    background: var(--color-main);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.imgLogo{
    height: auto;
    width: 5%;
}


a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.pageTop{
    display: flex;
}
